@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:focus {
  outline: none;
}

@media (max-width: 400px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 321px) {
  html {
    font-size: 12px;
  }
}

/* react-modal */
@media (min-width: 640px) {
  .ReactModal__Overlay {
    left: 50% !important;
    transform: translateX(-50%);
    max-width: 425px;
  }
}
